<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="usuario-id" content="{{ current_user.id or 'null' }}">
    <meta name="usuario-rol" content="{{ current_user.rol or 'anonimo' }}">
    <link rel="stylesheet" href="/static/css/ban.css">
    <link rel="icon" href="/static/utils/img/logo2.png">
    <title></title>
</head>
<body>
    <div id="container">
        <p class="texto-baneado"><strong>Estas baneado por <br> infligir las normas</strong></p> 
    </div>
    <a class="entrar-invitado" href='/entrar_como_invitado'>Entrar como invitado</a>
</body>
</html>