<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="usuario-id" content="{{ current_user.id or 'null' }}">
    <meta name="usuario-rol" content="{{ current_user.rol or 'anonimo' }}">
    <link rel="stylesheet" href="/static/css/ban.css">
    <title></title>
</head>
<body>
    <div id="container">
        <p class="texto-baneado">Estas baneado<span class="simbolo-baneado">🚫</span> </p> 
        <a class="entrar-invitado" href='/entrar_como_invitado'>Entrar como invitado</a>
    </div>
</body>
</html>