<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion de Correo Electronico</title>
    <link rel="stylesheet" href="/static/css/confirmacionceo.css">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <h3>Verificación</h3>
  <p>Ingrese el código que le enviamos a su gmail</p>

  <!-- Campoooos para ingresar los números del código -->
  <form>
    <div class="codigo-fondo">
     <input type="text" name="codigo" id="cod"
       pattern="\d{6}" maxlength="6" inputmode="numeric" required>
    </div>
    <br><br>

    <!-- Botón para verificar -->
    <button type="submit">enviar</button>
  </form>
<script src="/static/js/verificarOTP.js"></script>
</body>
</html>