<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dprogramacion.css"/>
    <title>dprogramacion</title>
</head>
<body>
    <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
    <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a href="#"><img src="/static/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a href="#"><img src="/static/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a href="#"><img src="/static/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a href="#"><img src="/static/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a href="#"><img src="/static/static/utils/img/grupo-img4.png" alt="Grupos" class="grupo4"></a>
        <a href="#"><img src="/static/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>
    <!--Fin de la barra lateral-->
     <div class="header">
        <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form>
    </div>
<main class="cuerpo1">
    <section class="bloque-superpuesto">
        <a href="/templates/index/indexdcuarto.html">
            <img src="/static/utils/img/materia1.png" alt="Materias 4to">
            <a href="/templates/index/indexdcuarto.html" class="texto-superpuesto">4to</a>
        </a>
    </section>
    <section class="bloque-superpuesto">
        <a href="/templates/index/indexdquinto.html">
            <img src="/static/utils/img/materia1.png" alt="Materias 5to">
            <a href="/templates/index/indexin5to.html" class="texto-superpuesto">5to</a>
        </a>
    </section>
    <section class="bloque-superpuesto">
        <a href="/templates/index/indexsexto.html">
            <img src="/static/utils/img/materia1.png" alt="Materias 6to">
            <a href="/templates/index/indexin6to.html" class="texto-superpuesto">6to</a>
        </a>
    </section>
    <section class="bloque-superpuesto">
        <a href="/templates/index/indexdseptimo.html">
            <img src="/static/utils/img/materia1.png" alt="Materias 7mo">
            <a href="/templates/index/indexin7mo.html" class="texto-superpuesto">7mo</div>
        </a>
    </section>
</main>

    <div class="footer">  
    </div>
    

</body>
</html>