<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilohomeoinicio.css">
    <link rel="stylesheet" href="/static/css/barralateral.css">
    <meta name="usuario-id" content="{{ current_user.id or 'null' }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="usuario-rol" content="{{ current_user.rol or 'anonimo' }}">
    <link rel="icon" href="/static/utils/img/logo2.png">
    <title>Home</title>
</head>
<body>
    <div class="header">
            <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
        <!-- <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form> -->
    </div>
    <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a class="separador3" href="/perfil"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a class="separador3" href="/indexhomeoinicio"><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a class="separador3" href="/panelnotificaciones"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a class="separador3" href="/miembros"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a class="separador3" href="/mis_likes"><img src="/static/utils/img/corazon4.png" alt="Likes" class="soporte3"></a>
        <a class="separador3" href="/configuracion"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
        <a class="separador3" href="/logout"><img src="/static/utils/img/cerrar-sesion.png" alt="cerrar-sesion" class="cerrar-sesion6"></a>
    </div>
    <!--Fin de la barra lateral-->

</div>
        <!-- <button id="probar-notificacion">Probar notificación push</button> -->
    <div class="bloque-superpuesto primero1">
        <a href='/programacion' class="texto-superpuesto">programacion</a> 
    </div>
    <div class="bloque-superpuesto">
        <a href='/informatica' class="texto-superpuesto">informatica</a>
    </div>
    <div id="toast-notificacion" class="toast oculto">
    <div class="toast-contenido">
        <span class="toast-icono">🔔</span>
        <div class="toast-texto">
            <h3>¿Activar notificaciones?</h3>
            <p>Te avisaremos cuando respondan tus preguntas o te den like.</p>
        </div>
    </div>
    <div class="toast-botones">
        <button id="btn-permitir" class="btn btn-permitir">Permitir</button>
        <button id="btn-no-permitir" class="btn btn-rechazar">Ahora no</button>
    </div>
    </div>
    <!-- <script src="/static/js/testnotificaciones.js"></script> es una prueba para ver si funcionan ! -->
    <script src="/static/js/notificaciones.js"></script>
    <script src="/static/js/barralateral.js"></script>

</body>
</html>