<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/d5to.css">
    <link rel="stylesheet" href="/static/css/barralateral.css"/>
    <title>Programacion 5to</title>
</head>
<body>
    <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
 <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a href="/templates/index/indexusuario.html"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a href="/indexhomeoinicio"><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a href="/templates/index/indexnotificaciones.html"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a href="/templates/index/indexcentralayuda.html"><img src="/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a href="#"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a href="#"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>
    <!--Fin de la barra lateral-->
     <div class="header">
        <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form>
    </div>
    <div class="cuerpo1">
             <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="4to">
        <a href='/programacion/5toprogramacion/labdiseñoweb' class="texto-superpuesto">lab diseño web</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/programacion/5toprogramacion/labprogramacion' class="texto-superpuesto">lab de programacion</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/programacion/5toprogramacion/labbasededatos' class="texto-superpuesto">lab de base de datos </a>
    </div>
    <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href='/programacion/5toprogramacion/labredes' class="texto-superpuesto">lab de redes </a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href='/programacion/5toprogramacion/modysistemas' class="texto-superpuesto">modelos y sistemas  </a>

    </div>

    <div class="footer">  
    </div>
    
<script src="/static/js/barralateral.js"></script>
</body>
</html>