<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CET4/templates/css/estilohomeoinicio.css">

    <title>Document</title>
</head>
<body>
     <div class="header">
        <form>
            <input class="buscador" placeholder="Preguntas. . ." type="text"> <span> <button> Waza </button></span>
        </form>
    </div>
    <div class="body">

    </div>
    <div class="footer">

    </div>
    <div class="elcostado">

    </div>
</body>
</html>