<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilohomeoinicio.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
            <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
        <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form>
    </div>
    <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a href="/templates/index/indexusuario.html"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a href='/indexhomeoinicio'><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a href="/templates/index/indexnotificaciones.html"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a href="/templates/index/indexcentralayuda.html"><img src="/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a href="#"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a href="#"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>
    <!--Fin de la barra lateral-->
    <div class="cuerpo1">
             <br>
    <div class="bloque-superpuesto">
        <a href=' /programacion'>
        <a href='/programacion' class="texto-superpuesto">programacion</a> 
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        </a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/informatica' class="texto-superpuesto">informatica</a>
    </div>
    
    </div>
    </div>
    <div class="footer">  
    </div>
    <script src="/static/js/comentarios.js"></script>
    <script src="/static/js/barralateral.js"></script>

</body>
</html>