<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/d7mo.css">
    <link rel="stylesheet" href="/static/css/barralateral.css"/>
    <meta name="usuario-id" content="{{ current_user.id or 'null' }}">
    <meta name="usuario-rol" content="{{ current_user.rol or 'anonimo' }}">
    <title>7to-informatica</title>
</head>
<body>
    
     <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
    <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a class="separador3" href="/perfil"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a class="separador3" href="/indexhomeoinicio"><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a class="separador3" href="/panelnotificaciones"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a class="separador3" href="/miembros"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a class="separador3" href="/mis_likes"><img src="/static/utils/img/corazon4.png" alt="Likes" class="soporte3"></a>
        <a class="separador3" href="/configuracion"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
        <a class="separador3" href="/logout"><img src="/static/utils/img/cerrar-sesion.png" alt="cerrar-sesion" class="cerrar-sesion6"></a>
    </div>
     <div class="header">
        <!-- <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/CET4/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form> -->
    </div>
    <div class="cuerpo1">
             <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="4to">
        <a href="/comentario/materias/45" class="texto-superpuesto"> proyecto sist  </a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a  href="/comentario/materias/46" class="texto-superpuesto">imyr redes</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href="/comentario/materias/47" class="texto-superpuesto">modelos y sistemas</a>
    </div>
    <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/50" class="texto-superpuesto">base de datos  </a>
    </div>
        <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/51" class="texto-superpuesto">empr.prod y dl</a>
    </div>
    
        <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/49" class="texto-superpuesto">imir sistemas</a>
    </div>
    
        <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/52" class="texto-superpuesto">practica profesional</a>
    </div>
    
        <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/48" class="texto-superpuesto">evaluacion proyectos</a>
    </div>
</div>
   
    <div class="footer">  
    </div>
    
<script src="/static/js/barralateral.js"></script>
</body>
</html>