<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncios</title>
    <link rel="Stylesheet" href="/static/css/estiloanuncios.css">
</head>
<body>
     <header class="header">
  <a href="/templates/index/indexprincipal.html" class="margen" >CET4</a>
    <nav class="nav">
      <span>Español</span>
      <a href="#">Iniciar Sesión</a>
    </nav>

  </header>
   <h1 class="text"> CENTRO DE ANUNCIOS  </h1> 
    <h2 class="text2"> Bienvenido al apartado de Anuncios. Ponete al día con nuestras últimas novedades y actualizaciones importantes.</h2>

    <h2 style="color: rgb(44, 44, 83);"> [NUEVA FUNCIÓN] </h2>
    <p style="color: rgb(58, 19, 19);">
        ¡Ahora podes editar tu foto de perifl!
Fecha: 16 de agosto de 2025
Visita nuestra nueva opcion para poder añadir una imagen desde tu computadora/celular y agregarlo como una foto de perfil.
    </p>

    <h2 style="color: rgb(44, 44, 83);">[MANTENIMIENTO PROGRAMADO] </h2>
    <p style="color: rgb(58, 19, 19);">
Actualización de Servidores
Fecha: 15 de agosto de 2025
Informamos que realizaremos un mantenimiento programado en nuestros servidores el 15 de agosto, entre las 02:00 AM y 04:00 AM ART. Durante este periodo, es posible que experimentes interrupciones breves en el servicio. Agradecemos tu comprensión.
    </p>
 
        
    <h2 style="color: rgb(44, 44, 83);">[MEJORA]   </h2>
    <p style="color: rgb(58, 19, 19);">
optimización de Rendimiento en la Búsqueda
Fecha: 16 de agosto de 2025
Implementamos mejoras en nuestro motor de búsqueda, ¡Ahora encontrar lo que buscás es más fácil!
    
   <h2 style="color: rgb(44, 44, 83);">[AVISO IMPORTANTE] </h2> 
   <p style="color: rgb(58, 19, 19);">
Actualización de la Política de Privacidad
Fecha: 16 de agosto de 2025
Te informamos sobre una actualización en nuestra Política de Privacidad, para aclarar algunos puntos sobre la gestión de tus datos. Te invitamos a revisarla.


   </p> 
    
</body>
</html>