<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Centro de Ayuda - CET4</title>
  <link rel="stylesheet" href="static/css/Centralayuda.css" />
</head>
<body>
  <header class="header">
  <a href="/templates/index/indexprincipal.html"  class="margen" >CET4</a>
    <nav class="nav">
      <span>Español</span>
      <a href="/iniciarsesion">Iniciar Sesión</a>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h1>Centro de ayuda</h1>
      <input type="search" class="search-bar" placeholder="🔍 Buscar" aria-label="Buscar en el sitio">
    </section>

    <section class="intro">
      <a href="/templates/index/indexcentralayuda.html">¿Necesitás ayuda? ¡No dudes en contar con nosotros!</a>
      <p>
        Bienvenido al Centro de Ayuda. En esta sección reunimos toda la información que podés necesitar para sacarte dudas y resolver problemas rápido y fácil.
      </p>
    </section>

    <section class="grid">
      <article class="card">
        <img src="/static/utils/img/anuncio.png" alt="Ícono de Anuncios">
        <a href="/indexanuncios.html">Anuncios</a>
        <p>Esté al tanto de nuevas noticias</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/terminos_condiciones.png" alt="Ícono de Reglas">
        <h2>Reglas</h2>
        <p>Algunas condiciones que debe respetar</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/foco.png" alt="Ícono de Opiniones">
        <h2>Opiniones</h2>
        <p>Valoramos cada comentario</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/errores.png" alt="Ícono de Errores">
        <h2>Errores</h2>
        <p>Problemas que vemos, problemas que resolvemos</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/seguridad_privacidad.png" alt="Ícono de Seguridad">
        <h2>Seguridad y Privacidad</h2>
        <p>Nosotros te cubrimos la espalda</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/nosotros_lol.png" alt="Ícono de Nosotros" >
        <a href="/templates/index/indexnosotros.html">Nosotros</a>
        <p>Los invitamos a conocernos un poco mejor</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/contactenos.png" alt="Ícono de Contacto">
        <h2>Contactanos</h2>
        <p>Cualquier consulta más personal</p>
      </article>

      <article class="card">
        <img src="/static/utils/img/tutorial_lol.png" alt="Ícono de Guías">
        <h2>Guías y Tutoriales</h2>
        <p>Aprendé a fondo, nadie nace sabiendo</p>
      </article>
    </section>
  </main>

  <footer class="footer">
    <span class="marca">CET4</span>
 
  </footer>
</body>
</html>
