<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> C.E.T.4</title>
  <link rel="stylesheet" href="/templates/css/style_principal.css">
</head>
<body>
    
  <header class="header"> 
    <!-- aca esta el coso de la pagina el coso de arriba ahhh no me acuerdo como se dice perdón :( -->
    <div class="logo"> <img src="/utils/img/logo2.png" alt="imagen de el logo"> </div> 

    <div class="contacto"> <a href="#" class="contacto">COMUNICATE CON NOSOTROS</a></div> 
   
  </header>

<!-- aca esta todo el texto de el contenedor blanco  -->
  <main class="contenido-principal">

    <div class="coso-blanco">  
<!-- puse tdo lo de el coso blanco  -->
      <h1><strong>C.E.T.4</strong></h1>
      <h2>Comunidad educativa técnica</h2>
      <p>
        Creada por y para estudiantes técnicos, donde el objetivo principal es ayudarnos entre nosotros a resolver dudas, compartir conocimientos y superar juntos los desafíos de las materias de la escuela técnica.
      </p>
    </div>
     
  </main>
  <!-- aca estan los botones ya conectados con sus correspondientes pagina les puse el target coso para que no te abra 
   otra pestaña que directamente te lo abra en la misma  -->
<div class="botones">
        <a href="indexcrearcuenta.html" target="_parent" class="boton">CREAR CUENTA </a>
        <a href="indexiniciarsesion.html" target="_parent" class="boton">INICIAR SESION </a>
</body>
</html>

