<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/d6to.css">
    <link rel="stylesheet" href="/static/css/barralateral.css"/>
    <title>Programacion 6to</title>
</head>
<body>
    <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
      <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a class="separador3" href="/templates/index/indexusuario.html"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a class="separador3" href="/indexhomeoinicio"><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a class="separador3" href="/templates/index/indexnotificaciones.html"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a class="separador3" href="/templates/index/indexcentralayuda.html"><img src="/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a class="separador3" href="#"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a class="separador3" href="#"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>
    <!--Fin de la barra lateral-->
     <div class="header">
        <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <img src="/static/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form>
    </div>
    <div class="cuerpo1">
             <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="4to">
        <a href='/comentario/materias/27' class="texto-superpuesto">lab de programacion</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href="/comentario/materias/28" class="texto-superpuesto">lab.proc.ind</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href="/comentario/materias/24" class="texto-superpuesto">des.api.WEB DINAMICA </a>
    </div>
    <br>
    <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/comentario/materias/26" class="texto-superpuesto">seguridad informatica</a>

    </div>
     <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/comentario/materias/23' class="texto-superpuesto">sistemas de gestion  </a>
    </div>
     <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/comentario/materias/29' class="texto-superpuesto">web estatica </a>
    </div>
      <div class="bloque-superpuesto">
        <img src="/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href='/comentario/materias/25' class="texto-superpuesto">sistemas digitales</a>
    </div>
    <div class="footer">  
    </div>
    
<script src="/static/js/barralateral.js"></script>
</body>
</html>