<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Inicio de Sesión - CET</title>
  <link rel="stylesheet" href="/static/css/estiloiniciarsesion.css"/>
</head>
<body>


    <video autoplay muted loop id="videoFondo">
  <source src="/static/utils/img/fondo_iniciar_sesion.mp4" type="video/mp4" />
  </video>


   <div class="contenido">
  <main class="main-wrapper">
    
    <section class="login-container" aria-labelledby="login-title">
      <h1 id="login-title">¡BIENVENIDO DE VUELTA!</h1>

      <form id="loginForm">
        <label for="email" class="sr-only">Correo electrónico</label>
        <input type="email" id="email" placeholder="INGRESE SU CORREO ELECTRONICO" required />

        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" id="password" placeholder="CONTRASEÑA" required />

        <div class="links">
          <a href="#">¿OLVIDÓ SU CONTRASEÑA? RECUPERAR</a>
        </div>
                <div class="links">
          <a href="#">Entrar como invitado</a>
        </div>

        <button type="submit" id="init">INICIAR</button>
        <div id="mensaje" class="mensaje"></div>
      </form>
      
      <div class="links">
        ¿NO TIENE UNA CUENTA? <a href="/crearcuenta">CREAR CUENTA</a>
      </div>
    </section>

    <aside class="mascota-wrapper" aria-label="Asistente virtual">
      <div class="burbuja" role="note">¿Listo para estudiar cámarada?</div>
      <img src="/static/utils/img/zettino_sinfondo.png" alt="Mascota CETA saludando" class="mascota" />
    </aside>

  </main>
  </div>
<script src="/static/js/iniciosesion.js"></script>

</body>
</html>
