<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CET4/static/css/d7mo.css">
    <title>programacion  y programacion cuarto</title>
</head>
<body>
    
     <div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>
    <!--Todo la barra lateral-->
    <div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a href="/CET4/templates/index/indexusuario.html"><img src="/CET4/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a href="/CET4/templates/index/indexhomeoinicio.html"><img src="/CET4/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a href="/CET4/templates/index/indexnotificaciones.html"><img src="/CET4/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a href="/CET4/templates/index/indexcentralayuda.html"><img src="/CET4/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a href="#"><img src="/CET4/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a href="#"><img src="/CET4/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>
     <div class="header">
        <form class="buscador-logo">
            <div class="buscador-logo2">
            <img src="/CET4/utils/img/busqueda-de-lupa.png" alt="ErrorLogo" class="logo">
            <input class="buscador" placeholder=" Preguntas..." type="text"> 
            </div>
        </form>
    </div>
    <div class="cuerpo1">
             <br>
    <div class="bloque-superpuesto">
        <img src="/CET4/static/utils/img/materia1.png" alt="Materias" class="4to">
        <a href="/CET4/templates/index/indexproyss.html" class="texto-superpuesto"> proyecto sist  </a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/CET4/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a  href="/CET4/templates/index/indeximryrds.html" class="texto-superpuesto">imyr redes</a>
    </div>
    <div class="bloque-superpuesto">
        <img src="/CET4/static/utils/img/materia1.png" alt="Materias" class="materia1">
        <a href="/CET4/templates/index/indexmodeloss.html" class="texto-superpuesto">modelos y sistemas</a>
    </div>
    <br>
    <div class="bloque-superpuesto">
        <img src="/CET4/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/CET4/templates/index/indexlbbd.html" class="texto-superpuesto">base de datos  </a>
    </div>
        <div class="bloque-superpuesto">
        <img src="/CET4/static/utils/img/materia1.png" alt="Materias" class="materia2">
        <a href="/CET4/templates/index/indexem" class="texto-superpuesto">empr.prod y di</a>
    </div>
   
    <div class="footer">  
    </div>
    

</body>
</html>