<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Equipo</title>
    <link rel="stylesheet" href="/static/css/miembros.css">
</head>
<body>

    <header>
        <h1>Nuestro Equipo</h1>
        <p>Conoce a las personas que hacen todo posible.</p>
    </header>

    <main class="team-grid">
        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 1">
            <h3 class="member-name">Catalina Guasch</h3>
            <p class="member-role">Back-End Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 2">
            <h3 class="member-name">Lautaro Gavilan</h3>
            <p class="member-role">Back-End Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 3">
            <h3 class="member-name">Lautaro Samudio</h3>
            <p class="member-role">Back-end Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 4">
            <h3 class="member-name">Carmen Figueroa</h3>
            <p class="member-role">Front-End  Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 5">
            <h3 class="member-name">Francisco Rodriguez</h3>
            <p class="member-role">Front-End  Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 6">
            <h3 class="member-name">Gabriel Ramirez</h3>
            <p class="member-role">Front-End  Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 7">
            <h3 class="member-name">Julieta Baez</h3>
            <p class="member-role">Front-End  Developer</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 8">
            <h3 class="member-name">Martina Alvarin</h3>
            <p class="member-role">Front-End  Developer</p>
        </div>

        <div class="team-member">
            <img src="/static/utils/img/giafot.jpg"Foto de Miembro 9">
            <h3 class="member-name">Gianella Sosa</h3>
            <p class="member-role">Documentacion</p>
        </div>

        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 10">
            <h3 class="member-name">Luis Molina</h3>
            <p class="member-role">Documentacion</p>
        </div>
        
        <div class="team-member">
            <img src="sonino.png" alt="Foto de Miembro 11">
            <h3 class="member-name">Ciro Saucedo</h3>
            <p class="member-role">Documentacion</p>
        </div>
         <div class="team-member">
            <img src="/static/utils/img/avatar2.jpg" alt="Foto de Miembro 11">
            <h3 class="member-name">Zettino</h3>
            <p class="member-role">Content Creator</p>
        </div>
    </main>