body{
    background: linear-gradient(to top, #020c25 0%, #082c54 50%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 40rem;
    height: 40rem;
    background:url('/static/utils/img/zettino_ban.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1em;

}

.texto-baneado{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5em;
    font-family: 'Courier New', Courier, monospace;
}
p.texto-baneado{
    font-size: 2.7rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;


}

.entrar-invitado{
    color: white;
    text-decoration: none;
    font-size: 40px;
    width: 22rem;
    height: 4rem;
    background-color: #082c54;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s ease;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.entrar-invitado:hover{
    background-color: #0a3c6c;
}
@media (max-width: 600px){
    #container{
        width: 100%;
    }
    p.texto-baneado{
        font-size: 2rem;
    }

}
@media (max-width: 450px){
    #container{
        width: 100%;
    }
    p.texto-baneado{
        font-size: 1.5rem;
    }

}