*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Esto es el comienzo de la barra lateral */
.elcostado {
    width: 10%;
    height: 100vh;
    background-color: #080c34;
    position: fixed;
    top: 0;
    left: -10%;
    transition: all .4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.elcostado.active {
    left: 0;
}
/*Esto hace que la funcion de la barra lateral se cierre y abra */

/*Fin de la funcion de la barra Lateral */
#toggle {
    color: white;
    font-size: 45px;
    cursor: pointer;
    margin-left: 0.2em;
    z-index: 0;
    position: fixed;
    justify-content: left;
    align-items: top;
}

#out {
    color: white;
    font-size: 15px;
    margin: 5vh;
    margin-bottom: -2vh;
    cursor: pointer;
}

/* Fin de la barra Lateral */


/* Esto es el comienzo de los iconos de la barra Lateral */

/* Íconos de la barra lateral */
a.separador3{
    margin-top: 6vh;
}
.casa1{
    width: 35px;
    height: auto;
    margin: 0;
}
.campana2{
    width: 35px;
    height: auto;
    margin: 0;
}
.soporte3{
    width: 35px;
    height: auto;
    margin: 0;
}
.grupo4{
    width: 35px;
    height: auto;
    margin: 0;
}
.opcion5{
    width: 35px;
    height: auto;
    margin: 0;
}

.cerrar-sesion6{
    width: 35px;
    height: auto;
    margin: 0;
}

.usuario{
    width: 50px;
    height: auto;
    margin: 0;
}

.casa1:hover,.campana2:hover,.soporte3:hover,.grupo4:hover,.opcion5:hover,.usuario:hover,.cerrar-sesion6:hover {
    transform: scale(1.2);
    filter: brightness(1.4);
    transition: transform 0.4s ease, filter 0.2s ease;
}

@media (max-width: 1024px) {
    .elcostado {
        width: 15%;
        left: -60%;
    }
    .usuario, .ordenado img {
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }
    .logo {
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 600px) {
    .elcostado {
        width: 20%;
        left: -80%;
    }
    .cuerpo1 {
        grid-template-columns: 350px;
    }
    .usuario, .ordenado img {
        width: 30px;
        height: 30px;
        margin-top: 20px;
    }
    .texto-superpuesto {
        font-size: 20px;
    }
    #toggle {
        font-size: 26px;
    }
}



/* Fin de los iconos de la barra Lateral */

/* Instrucciones para vincular la barra lateral a sus archivos HTML:
"<link rel="stylesheet" href="static/css/barralateral.css">" dentro del head y 
"<script src="/static/js/barralateral.js"></script>" al final de todo el codigo dentro de body.

Y en su HTML, dentro del body, agregar lo siguiente: 


<div id="toggle">
        <span>&#9776;</span> <!--El simbolo de Tres barras-->
    </div>

<div class="elcostado ordenado">
        <div id="out">
            <span>&#9587;</span> <!--El simbolo de la X-->
        </div>
        <a href="/templates/index/indexusuario.html"><img src="/static/utils/img/usuario.png" alt="Perfil" class="usuario"></a>
        <a href='/indexhomeoinicio'><img src="/static/utils/img/casa-img1.png" alt="Inicio" class="casa1"></a>
        <a href="/templates/index/indexnotificaciones.html"><img src="/static/utils/img/campana-img2.png" alt="Notificaciones" class="campana2"></a>
        <a href="/templates/index/indexcentralayuda.html"><img src="/static/utils/img/pregunta-img3.png" alt="Soporte" class="soporte3"></a>
        <a href="#"><img src="/static/utils/img/grupo-img4.png" alt="" class="grupo4"></a>
        <a href="#"><img src="/static/utils/img/opciones-img5.png" alt="Configuracion" class="opcion5"></a>
    </div>

*/

/* Para navegadores WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* Oculta el scroll pero permite el scroll con mouse o touch */
.container {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
