#msj{
    color: rgb(255, 255, 255);
}
.notificacion-item.leida{
    margin-top: 1em;
    background-color:#131e2e;
    border-radius: 20px;
    width: 40rem;
}
.notificacion-item.nueva{
    margin-top: 1em;
    background-color:#131e2e;
    border-radius: 20px;
    width: 40rem;
}

.usuario-nombre{
    color: white;
}
.fecha{
    color: white;
}
.btn-eliminar{
    margin-top: -0.5em;
}
@media (max-width:730px ){
    .notificacion-item.leida{
        width: 30rem;
    }
        .notificacion-item.nueva{
        width: 30rem;
    }

}
@media (max-width:600px ){
    .notificacion-item.leida{
        width: 100%;
    }
            .notificacion-item.nueva{
        width: 100%;
    }

}