
body {
  font-family: sans-serif; /*esta fuente me gusto por eso la deje */
  margin: 0;   
  padding: 0;
  background: black;
  color: #ffffff;
  line-height: 1.6;  /*espaciado entre textos */
  scroll-behavior: smooth; /*mueve ligeramente los botones para cuando los toques jij*/
  overflow-x: hidden;
}

/* Fondo con video */
.fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fondo .video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: brightness(0.5) contrast(1.1); /*reduce el brillo de el coso*/
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color:  #0b0b33;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 45px;
}

.contacto {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.contacto:hover {
  text-decoration: underline;
}

/* Contenido principal tipo landing */
.contenido-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 1rem;
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.5rem;
  color: #e0e0e0;
  max-width: 700px;
  margin: 0 auto 2.5rem auto;
  line-height: 1.8;
}

/* Botones */
.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

 gap: 20px;
 justify-content: center;
 left: 30px;
 margin-top: -5px;
 margin-left: 30px;
 margin-bottom: 20px;
}

.boton {
  width: 240px;
  padding: 1rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;

  color: white;
  background: #5865f2;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3); /*sombras*/
  transition:0.3s ease, transform 0.3s ease;

  font-weight: bold;
  border: 2px solid white;
  transition: all 0.3s ease;
  

}

.boton:hover {
  background: #4752c4;
  transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .boton {
    width: 90%;
  }
}
